@font-face {
    font-family: "TelefonicaWeb-Bold";
    src: url("./fonts/TelefonicaWeb-Bold.eot");
    src: url("./fonts/TelefonicaWeb-Bold.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-Bold.woff") format("woff"), url("../fonts/TelefonicaWeb-Bold.ttf") format("truetype"), url("../fonts/TelefonicaWeb-Bold.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "TelefonicaWeb-Regular";
    src: url("./fonts/TelefonicaWeb-Regular.eot");
    src: url("./fonts/TelefonicaWeb-Regular.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-Regular.woff") format("woff"), url("../fonts/TelefonicaWeb-Regular.ttf") format("truetype"), url("../fonts/TelefonicaWeb-Regular.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "TelefonicaWeb-RegularItalic";
    src: url("./fonts/TelefonicaWeb-RegularItalic.eot");
    src: url("./fonts/TelefonicaWeb-RegularItalic.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-RegularItalic.woff") format("woff"), url("../fonts/TelefonicaWeb-RegularItalic.ttf") format("truetype"), url("../fonts/TelefonicaWeb-RegularItalic.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "TelefonicaWeb-Light";
    src: url("./fonts/TelefonicaWeb-Light.eot");
    src: url("./fonts/TelefonicaWeb-Light.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-Light.woff") format("woff"), url("../fonts/TelefonicaWeb-Light.ttf") format("truetype"), url("../fonts/TelefonicaWeb-Light.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "TelefonicaWeb-ExtraLight";
    src: url("./fonts/TelefonicaWeb-ExtraLight.eot");
    src: url("./fonts/TelefonicaWeb-ExtraLight.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-ExtraLight.woff") format("woff"), url("../fonts/TelefonicaWeb-ExtraLight.ttf") format("truetype"), url("../fonts/TelefonicaWeb-ExtraLight.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "TelefonicaWeb-Hand";
    src: url("./fonts/TelefonicaWeb-Hand.eot");
    src: url("./fonts/TelefonicaWeb-Hand.eot?iefix") format("eot"), url("../fonts/TelefonicaWeb-Hand.woff") format("woff"), url("../fonts/TelefonicaWeb-Hand.ttf") format("truetype"), url("../fonts/TelefonicaWeb-Hand.svg#webfontZhAFkZ39") format("svg");
    font-weight: normal;
    font-style: normal
  }